# SPDX-FileCopyrightText: Copyright (c) 2011-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

* text eol=lf
*.groovy text
*.java text
*.jpg binary
*.md text
*.png binary
*.pom text
*.properties text
*.txt text
*.xml text
NewLines.java -text
newlines.txt -text
