# SPDX-FileCopyrightText: Copyright (c) 2011-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.iml
.aidy/
.classpath
.claude/
.DS_Store
.factorypath
.idea
.idea/
.project
.settings/
/bin
local-repo/
node_modules/
target/
