 ------
 Source Code Quality Police (Qulice)
 ------
 Yegor Bugayenko
 ------
 2011-08-22
 ------

~~
~~ Copyright (c) 2011-2018, Qulice.com
~~ All rights reserved.
~~
~~ Redistribution and use in source and binary forms, with or without
~~ modification, are permitted provided that the following conditions
~~ are met: 1) Redistributions of source code must retain the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer. 2) Redistributions in binary form must reproduce the above
~~ copyright notice, this list of conditions and the following
~~ disclaimer in the documentation and/or other materials provided
~~ with the distribution. 3) Neither the name of the Qulice.com nor
~~ the names of its contributors may be used to endorse or promote
~~ products derived from this software without specific prior written
~~ permission.
~~
~~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
~~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
~~ NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
~~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL
~~ THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
~~ INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
~~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
~~ SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
~~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
~~ STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
~~ ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED
~~ OF THE POSSIBILITY OF SUCH DAMAGE.
~~
~~ @version $Id$
~~

Source Code Quality Police (Qulice)

  Qulice is a {{{http://en.wikipedia.org/wiki/Static_program_analysis}static analysis}}
  quality control instrument for
  Java projects. It combines a few static analysis tools and
  pre-configure them. You don't need to use and configure them individually any more.

  At the moment we integrate together:

   * {{{http://maven.apache.org/plugins/maven-dependency-plugin/analyze-only-mojo.html}Maven dependency analysis}}

   * {{{http://maven.apache.org/plugins/maven-enforcer-plugin/enforce-mojo.html}maven-enforcer-plugin}}

   * {{{https://github.com/ning/maven-duplicate-finder-plugin}maven-duplicate-finder-plugin}}

   * {{{http://checkstyle.sourceforge.net/}Checkstyle}}

   * {{{http://pmd.sourceforge.net/}PMD}}

   * {{{http://findbugs.sourceforge.net/}FindBugs}}

   * {{{http://cobertura.sourceforge.net/}Cobertura}}

  Just add our {{{./qulice-maven-plugin/}qulice-maven-plugin}} to your
  Maven project and start following out
  {{{./quality.html}quality policy}}:

+--
<build>
  <plugins>
    <plugin>
      <groupId>com.qulice</groupId>
      <artifactId>qulice-maven-plugin</artifactId>
      <version>${project.version}</version>
      <configuration>
        <license>file:${basedir}/LICENSE.txt</license>
      </configuration>
      <executions>
        <execution>
          <goals>
            <goal>check</goal>
          </goals>
        </execution>
      </executions>
    </plugin>
  </plugins>
</build>
+--

  Don't hesitate to submit a
  ticket to {{{http://github.com/tpc2/qulice/issues}Github}} when something
  doesn't work or you need more features.
