---
name: codecov
on:
  push:
    branches:
      - master
jobs:
  codecov:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-
      - run: mvn install -Pjacoco -Dinvoker.skip
      - uses: codecov/codecov-action@v1
        with:
          files: qulice-spi/target/site/jacoco/jacoco.xml,qulice-checkstyle/target/site/jacoco/jacoco.xml,qulice-pmd/target/site/jacoco/jacoco.xml,qulice-ant/target/site/jacoco/jacoco.xml,qulice-maven-plugin/target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
